* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Gilroy";

    a {
        text-decoration: none;
    }
    #nav a.router-link-exact-active {
        color: #42b983;
    }
    header {
        background-color: #f0f0f0;
        .header-container {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;

            .header-left {
                .header-router-link {
                    font-size: 16px;
                    font-weight: 500;
                    color: black;
                    margin-right: 21px;
                }
            }

            .header-right {
                display: flex;
                align-items: center;
                .header-acccount {
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 19px;
                }
                .header-leave-btn {
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    .leave-icon-img {
                        fill: #ff0000;
                        height: 18px;
                    }
                    :hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .main-page-container {
        padding-top: 44px;
        .page-top-wrap {
            margin-bottom: 74px;
        }

        .main-page-h3 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 21px;
        }

        // AFTER CARD

        .main-page-cards-link {
            margin: 21px 0 0;
            a {
                color: #0047ff;
                text-decoration: underline;
                font-weight: 600;
            }
        }

        .main-page-trans-wrap {
            margin-top: 74px;
            .main-page-trans-title {
                font-weight: 500;
                font-size: 24px;
                margin-bottom: 32px;
            }
            
            .main-page-all-trans-router {
                margin: 21px 0;
                a {
                    font-weight: 600;
                    color: #0047ff;
                    text-decoration: underline;
                }
            }
        }
    }
    .main-page-trans-box {
        .main-page-trans-title-row {
            display: grid;
            grid-template-columns: 2fr 5fr 3fr 4fr 1fr;
            margin-bottom: 21px;
            .main-page-trans-title-item {
                font-size: 14px;
                font-weight: 600;
                color: #b9c0d1;
            }
        }
        .main-page-trans-row {
            display: grid;
            grid-template-columns: 2fr 5fr 3fr 4fr 1fr;
            align-items: center;
            .main-page-trans-text-item {
                font-size: 14px;
                font-weight: 500;
            }
        }
        .main-page-trans-hr {
            border: none;
            border-top: 2px solid #b9c0d1;
            margin: 12px 0;
        }
    }

    .cards-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 160px;
        grid-gap: 19px 24px;
        .card {
            border-radius: 15px;
            padding: 19px 23px 17px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card-brand {
                font-size: 24px;
                font-weight: 500;
            }
            .card-val {
                font-size: 14px;
                font-weight: 700;
            }
        }
        .card-grad-1 {
            background: linear-gradient(84.37deg, #d7816a 2.27%, #bd4f6c 92.26%);
        }
        .card-grad-2 {
            background: linear-gradient(84.37deg, #5f0a87 2.27%, #a4508b 92.26%);
        }
        .card-grad-3 {
            background: linear-gradient(84.37deg, #20bf55 2.27%, #01baef 92.26%);
        }
        .card-grad-4 {
            background: linear-gradient(84.37deg, #380036 2.27%, #0cbaba 92.26%);

        }
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;

        .page-title {
            margin-bottom: 11px;
            font-size: 48px;
            font-weight: 700;
        }
        .page-mail-title {
            font-size: 18px;
            color: #0047ff;
            font-weight: 700;
        }

        .form-title {
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 38px;
        }

        .form-wrapper {
            width: fit-content;
            margin: 0 auto;
            .form-input {
                display: block;
                width: 440px;
                height: 56px;
                border: 1px solid black;
                border-radius: 10px;
                margin-bottom: 8px;
                padding: 0 25px;
                font-weight: bold;
            }
            .form-btn {
                width: 440px;
                border: none;
                background-color: #0047ff;
                border-radius: 10px;
                color: white;
                font-size: 18px;
                font-weight: 600;
                height: 56px;
                margin-bottom: 32px;
            }
            .register-another-acc {
                font-size: 18px;
                color: #0047ff;
                text-align: center;

                font-weight: 700;
            }
        }
        .form-input::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .mycards-container {
        padding-top: 44px;
        .mycards-cards-wrap {
            margin-top: 60px;
        }
        .mycards-add-card-router {
            width: 438px;
            height: 56px;
            background-color: #0047ff;
            color: white;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 600;
            margin: 44px auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .mytrans-container {
        padding-top: 44px;
        .mytrans-page-top-wrap {
            margin-bottom: 60px;
        }
    }
    .register-another-acc{
        a{

            color: #0047ff;
            font-weight: 700;
            font-size: 18px;
        }
    }
    .form-container-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .form-container{
            width: fit-content;
        }
    }
    .add-card-select{
        height: 56px;        
        width: 438px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 8px;
        font-size: 16px;
        padding-left: 25px;
        display: block;
        font-weight: 600;
    }
}
