<template>
  <div class="addCard form-container-wrap">
    <div class="container">
      <h2 class="form-title form-register-title">Добавить карту</h2>

      <div class="form-wrapper form-register-wrap">
        <form>
          <input type="text" class="form-input" placeholder="Имя" />
          <select name="" id="" class="add-card-select">

            <option value="">USD</option>
            <option value="">EUR</option>
            <option value="">RUB</option>
            <option value="">UZS</option>
            <option value="" selected>Валюта</option>
          </select>
          <button class="form-btn form-register-btn">Добавить</button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>