<template>
  <div class="mainPage">
    <Header />
    <div class="container main-page-container">
      <div class="page-top-wrap">
        <h1 class="page-title main-page-title">
          Добро пожаловать,
          <span class="main-page-title-name">{{ user.name }}</span>!
        </h1>
        <p class="page-mail-title main-page-mail">{{ user.email }}</p>
      </div>

      <h3 class="main-page-h3">Мои кошельки</h3>

      <div class="cards-wrap main-cards-wrap">
        <div class="card card-grad-1 main-page-card">
          <h3 class="card-brand">Visa</h3>
          <p class="card-val">RUB</p>
        </div>
        <div class="card card-grad-2 main-page-card">
          <h3 class="card-brand">Visa</h3>
          <p class="card-val">RUB</p>
        </div>
        <div class="card card-grad-3 main-page-card">
          <h3 class="card-brand">Visa</h3>
          <p class="card-val">RUB</p>
        </div>
        <div class="card card-grad-4 main-page-card">
          <h3 class="card-brand">Visa</h3>
          <p class="card-val">RUB</p>
        </div>
      </div>

      <p class="main-page-cards-link">
        <router-link to="/mycards">Смотреть все кошельки</router-link>
      </p>

      <div class="main-page-trans-wrap">
        <h3 class="main-page-trans-title">Последние транзакции</h3>

        <div class="main-page-trans-box">
          <div class="main-page-trans-title-row">
            <p class="main-page-trans-title-item">ID</p>
            <p class="main-page-trans-title-item">Отправлено с кошелька</p>
            <p class="main-page-trans-title-item">Категория</p>
            <p class="main-page-trans-title-item">Сумма транзации</p>
            <p class="main-page-trans-title-item">Когда</p>
          </div>
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr">
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr">
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr">
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr">
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
        </div>

        <p class="main-page-all-trans-router">
          <router-link to="mytransactions">Смотреть все оплаты</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import {mapActions, mapGetters} from 'vuex'

export default {
  components: {
    Header,
  },
  methods: {
    ...mapActions(['CHECK_ME'])
  },
  computed:{
    ...mapGetters(["user"]),
  },
  created() {
    this.CHECK_ME()
  }
};
</script>

<style>
</style>