<template>
  <div class="myCards">
    <Header />
    <div class="container mycards-container">
      <div class="page-top-wrap">
        <h1 class="page-title main-page-title">Мои кошельки</h1>
        <p class="page-mail-title main-page-mail">{{ user.email }}</p>
      </div>

      <div class="mycards-cards-wrap">
        <div class="cards-wrap mycards-cards-wrap">
          <div class="card card-grad-1 main-page-card" v-for="card of myCards" :key="card.id">
            <h3 class="card-brand">{{ card.name }}</h3>
            <p class="card-val">{{ card.curr }}</p>
          </div>
          <!-- <div class="card card-grad-1 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-2 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-3 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-4 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-1 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-2 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-3 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div>
          <div class="card card-grad-4 main-page-card">
            <h3 class="card-brand">Visa</h3>
            <p class="card-val">RUB</p>
          </div> -->
        </div>
      </div>

      <router-link class="mycards-add-card-router" to="/addcard">
        Добавить
      </router-link>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import {mapActions, mapGetters} from 'vuex'

export default {
  components: {
    Header,
  },
  computed:{
    ...mapGetters(["myCards", 'user']),
  },
};
</script>

<style>
</style>