<template>
  <div class="myTrans">
    <Header />
    <div class="container mytrans-container">
      <div class="page-top-wrap mytrans-page-top-wrap">
        <h1 class="page-title main-page-title">Мои транзакции</h1>
        <p class="page-mail-title main-page-mail">alexadams@google.com</p>
      </div>

      <div class="main-page-trans-wrap">
        
        <div class="main-page-trans-box">
          <div class="main-page-trans-title-row">
            <p class="main-page-trans-title-item">ID</p>
            <p class="main-page-trans-title-item">Отправлено с кошелька</p>
            <p class="main-page-trans-title-item">Категория</p>
            <p class="main-page-trans-title-item">Сумма транзации</p>
            <p class="main-page-trans-title-item">Когда</p>
          </div>
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
          <hr class="main-page-trans-hr" />
          <div class="main-page-trans-row">
            <p class="main-page-trans-text-item">1232312</p>
            <p class="main-page-trans-text-item">VISA</p>
            <p class="main-page-trans-text-item">Автомобиль</p>
            <p class="main-page-trans-text-item">414,000,000</p>
            <p class="main-page-trans-text-item">4 дня назад</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";

export default {
  components: {
    Header,
  },
};
</script>

<style>
</style>