<template>
  <header>
    <div class="header-container">
      <div class="header-left">
        <router-link class="header-router-link" to="/main">Главная</router-link>
        <router-link class="header-router-link" to="/mycards"
          >Мои кошельки</router-link
        >
        <router-link class="header-router-link" to="/mytransactions"
          >Мои транзакции</router-link
        >
      </div>

      <div class="header-right">
        <p><span class="header-acccount">{{ user.email }}</span></p>
        <router-link to="/register">
          <button class="header-leave-btn">
            <svg viewBox="0 0 24 24" class="leave-icon-img">
              <path
                clip-rule="evenodd"
                d="M6 4C5.44772 4 5 4.44771 5 5L5 19C5 19.5523 5.44772 20 6 20H14C14.5523 20 15 20.4477 15 21C15 21.5523 14.5523 22 14 22H6C4.34315 22 3 20.6569 3 19L3 5C3 3.34314 4.34315 2 6 2L14 2C14.5523 2 15 2.44772 15 3C15 3.55229 14.5523 4 14 4L6 4ZM15.2929 7.29289C15.6834 6.90237 16.3166 6.90237 16.7071 7.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L16.7071 16.7071C16.3166 17.0976 15.6834 17.0976 15.2929 16.7071C14.9024 16.3166 14.9024 15.6834 15.2929 15.2929L17.5858 13H9C8.44772 13 8 12.5523 8 12C8 11.4477 8.44772 11 9 11H17.5858L15.2929 8.70711C14.9024 8.31658 14.9024 7.68342 15.2929 7.29289Z"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </router-link>
      </div>
    </div>
  </header>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  methods: {
    ...mapActions([''])
  },
  computed:{
    ...mapGetters(["user"]),
  },
};
</script>

<style>
</style>