<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/register">Registration</router-link> |
      <router-link to="/sign">Sign</router-link> |
      <router-link to="/main">Main</router-link> |
      <router-link to="/mycards">My cards</router-link> |
      <router-link to="/mytransactions">Transactions</router-link> |
      <router-link to="/addcard">Add card</router-link> |
      <router-link to="/addtrans">Add trans</router-link> |
    </div> -->
    <router-view/>
  </div>
</template>

<script>
import '../css/index.css'
import '../public/fonts/stylesheet.css'
export default {
  
}
</script>

<style>

</style>
